/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: #ccf9ce;
}

.color-2 {
    background: #c2ddd8;
}

.color-3 {
    background: #ffd5df;
}

.color-4 {
    background: #b2b7b6;
}

.color-5 {
    background: #a595b2;
}


/* Textures or Patterns*/
.pattern-1 {
    background: url(../img/diagonal_striped_brick.png)
}

.pattern-2 {
    background: url(../img/wet_snow.png)
}

.pattern-3 {
    background: url(../img/cubes.png);
}

.pattern-4 {
    background: url(../img/lined_paper.png);
}

.pattern-5 {
    background: url(../img/hexellence.png);
}


/* Imagery */


/* Icons */


/* Navigation */
a:link,
a:visited {
  color: #c2ddd8;
  text-decoration: none;
}
a:focus {
    color: #ffd5df;
}

a:hover {
    color: #b2b7b6;
    margin-left: 5px;
}

a:active {
    color: #ccf9ce;
}



/* Typography */

h1 {
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    color: #a595b2;
}

h2, h3 {
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    color: #b2b7b6;
}

p {
    font-family: 'Abhaya Libre', serif;
}
